apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      initContainers:
        - name: wait-for-dependencies
          image: busybox
          command:
            [
              "sh",
              "-c",
              "timeout 60 sh -c 'until nc -z pg-srv 5432; do echo waiting for db; sleep 2; done'",
            ]
      containers:
        - name: payments
          image: faheem222/payments
          envFrom:
            - secretRef:
                name: infisical-secrets

---
apiVersion: v1
kind: Service
metadata:
  name: payments-srv
spec:
  selector:
    app: payments
  ports:
    - name: payments
      protocol: TCP
      port: 3000
      targetPort: 3000
